<h1 id="new-model-title">Rate someone's personality based on their WhatsApp messages</h1>

<%= form_tag '/personality_model', method: :post, id: "new-personality-model" do |f| %>
    <%= text_field_tag(:author_name, nil, placeholder: "Enter the author's name here") %>
    <%= text_area_tag(:chat_messages, "", size: "58x12", placeholder: "Your whatsapp logs here", id: "chat-messages") %><br />
    <%= submit_tag "Analyse" %>
<% end %>